<!DOCTYPE html>
<html>
    <head>
        <title>Triton Course Manager</title>
        <script src="/static/js/submission.js" defer></script>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div class="header">
            <nav>
                <header>
                    <h1 class="title">The Triton Course Manager</h1>
                </header>
            </nav>
        </div>
        <div class="main">
            <span class="box">
                <table class="choice">
                    <tr class= "choice_header">
                        <th>Department</th>
                        <th>Only Fall 2024</th>
                        <th>Course #</th>
                        <th>Professor First Name</th>
                        <th>Professor Last Name</th>
                    </tr>
                    <tr>
                        <td id="department_acronym">N/A</td>
                        <td id="offered_fall_2024">N/A</td>
                        <td id="course_number">N/A</td>
                        <td id="professor_first_name">N/A</td>
                        <td id="professor_last_name">N/A</td>
                    </tr>
                </table>
                <div class="container">
                    <form id="new_search">
                        <button type="submit">New Search</button>
                    </form>
                    <p id="message" class="message">Error Occured, Please Try Again</p>
                </div>
                <table id="table" class="table">
                    <tr>
                        <th>Department</th>
                        <th>Course Name</th>
                        <th>Course #</th>
                        <th>Professor First Name</th>
                        <th>Professor Last Name</th>
                    </tr>
                    <tr id="startingRow">

                    </tr>
                </table>
            </span>
        </div>
    </body>
</html>