<!DOCTYPE html>
<html>
    <head>
        <title>Triton Course Manager</title>
        <script src="/static/js/submission.js" defer></script>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div class="header">
            <nav>
                <header>
                    <h1>The Triton Course Manager</h1>
                </header>
            </nav>
        </div>
        <div class="main">
            <span class="box">
                <p>
                    Welcome to the Finance Manager! Here you can manage any financial information that can be difficult to organize in a easy-to-use
                    and flexible format. More information to come... waht what waht what waht what waht what waht what waht what waht what waht what 
                    waht what waht what waht what waht what waht what waht what
                </p>
                <p id="department_acronym">Department: None Selected</p>
                <p id="course_number">Course Number: None Selected</p>
                <p id="professor_first_name">Professor First Name: None Selected</p>
                <p id="professor_last_name">Professor Last Name: None Selected</p>
                <p id="offered_fall_2024">Fall 2024: None Selected</p>
                <p id="message">uh oh</p>
            </span>
        </div>
    </body>
</html>